/*Start nav-bar*/
body {
    background-color: #ffffff;
    color: #000000;
  }
  body.dark {
    background-color: #161616;
    color: #E6E6E6;
  }
  body.dark .navbar{
    background-color: #161616;
  }
  body.dark .table{
    background-color: #161616;
  }
.dark-mode,
.light-mode {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  .dark-mode:hover{
    transform: scale(1.5) rotate(360deg);
  }
  .light-mode:hover{
    transform: scale(1.5) rotate(-20deg);
  }
  .navbar-img{
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  /*End nav-bar*/

  /*Start side-bar*/
  .logo{
    width: 25px;
    height: 25px;
  }
  body.dark .side-bar{
    background-color: #161616;
  }
  .side-bar{
    background-color: #fff;
  }
  body.dark .sidebar-item,
  body.dark h5{
    color: #FBF9F4;
  }
  .ecommerce-btn,
  .calendar-btn,
  .editor-btn,
  .kanban-btn,
  .orders-btn,
  .employees-btn,
  .customers-btn,
  .line-btn,
  .bar-btn,
  .pie-btn,
  .pyramide-btn,
  .financial-btn{
      cursor: pointer;
      transition: 0.4s ease all;
      color: #161616;
      height: 40px;
  }
  .ecommerce-btn:hover,
  .calendar-btn:hover,
  .editor-btn:hover,
  .kanban-btn:hover,
  .orders-btn:hover,
  .employees-btn:hover,
  .customers-btn:hover,
  .pyramide-btn:hover,
  .pie-btn:hover,
  .bar-btn:hover,
  .line-btn:hover,
  .financial-btn:hover{
    background-color: #1abafa;
    opacity: 0.9;
  }
  .side-bar::-webkit-scrollbar {
    width: 7px;
  }
  .side-bar::-webkit-scrollbar-track{
    background-color: #fff;
  }
  body.dark .side-bar::-webkit-scrollbar-track{
    background-color: #161616;
  }
  .side-bar::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    border-radius: 10px;
  }
  
  .side-bar::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
  }
  /*End side-bar*/
  
  /*Start App-structure*/
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}
.img-container{
  display: flex;
  justify-content: right;
}
.budget-text,
.revenue-text{
  font-size: 0.8rem;
}
/*End App-structure*/
